.imageViewerContext, .imageViewerContext div {
    margin: 0;
    padding: 0;
}
.imageViewerContext {
    height: 100%;
    min-width: 400px;
    min-height: 400px;
}
/*.smallImageViewer*/
.imageViewerContext .smallImageViewer {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 2px;
    height: 100px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.imageViewerContext .smallImageViewer .moreImg {
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: left 0.6s ease-out;
}
.imageViewerContext .smallImageViewer .moreImg img {
    cursor: pointer;
    margin: 0 2px 0 0;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.imageViewerContext .smallImageViewer .moreImg img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.imageViewerContext .smallImageViewer .toImg {
    height: 100%;
    width: 25px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-weight: 400;
    opacity: 0.4;
    cursor: pointer;
    overflow: hidden;
    background-color: #000;
    position: absolute;
    z-index: 9;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: opacity 0.5s;
}
.imageViewerContext .smallImageViewer .toImg:hover {
    color: #fff;
    opacity: 0.8;
}
.imageViewerContext .smallImageViewer .previousImg {
    left: 0;
}
.imageViewerContext .smallImageViewer .nextImg {
    right: 0;
}
/*.imageTools*/
.imageViewerContext .imageTools {
    text-align: center;
    height: 46px;
    line-height: 46px;
}
.imageViewerContext .imageTools .btn {
    margin: 0 5px;
    padding: 4px 8px;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857143;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
.imageViewerContext .imageTools .btn:hover {
    color: #333;
    background-color: #ccc;
    border-color: #adadad;
}