html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.page_box {
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}